<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <!-- <img src="https://img.freepik.com/free-vector/cinema-realistic-poster-with-illuminated-bucket-popcorn-drink-3d-glasses-reel-tickets-blue-background-with-tapes-vector-illustration_1284-77070.jpg" alt="Movie Logo"> -->
                <h2 style="color: red; margin-left: 30px;">Movie</h2>
              </div>
              <a routerLink="/">Home</a>
              <a routerLink="/movies">Movies</a>
              <a routerLink="/schedule">Schedule</a>
              <a routerLink="/tickets">Tickets</a>
              <a routerLink="/contact">Contact</a>
        </nav>
      </header>      
</body>
</html>
